#bg {
  background-color: rgb(27, 27, 27);
}
.dial {
  height: 400px;
  width: 400px;
}

.timer {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 400px;
  margin-left: 550px;
  margin-top: 50px;
}

* {
  font: inherit;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: aliceblue;
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .timer {
    margin-left: 300px;
    /* margin-top: 300px; */
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .timer {
    margin-left: 300px;
    /* margin-top: 400px; */
  }
}
